body {
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    color: #66BFBF;
    line-height: 2;
}

.profile-photo {
    max-width: 20%;
    max-height: auto;
    border-radius: 50%;
    margin-top: 20px;
}

.page-photos {
    /* max-width: 20%; */
    width: 25%;
    max-height: auto;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}

.page-photos-right {
    /* max-width: 20%; */
    width: 25%;
    max-height: auto;
    border-radius: 50%;
    float: right;
    margin-left: 30px;
}

.top-container {
    position: relative;
    background-color: teal;
    height: 100vh;
    padding-top: 1px;
}

.middle-container {
    position: relative;    
}

.bottom-container {
    position: relative;
    margin-top: 30px;
    background-color: #3498db;
    margin-bottom: 0px;
}

.top-cloud {
    position: absolute;
    right: 15%;
    top: 5%;
}

.bottom-cloud {
    position: absolute;
    left: 20%;
}

.mountain {
    position: absolute;
    bottom: 0%;
    right: 20%;
}

.contact-me {
    position: relative;
    margin-bottom: 100px;
}

.programmer {
    font-size: 2.5rem;
    margin-top: 0;
    color: #66BFBF;
}

h2 {
    font-weight: normal;
}

h3 {
    color: #050505;
}

a {
    color: #050505;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.ruler {
    width: 30%;
    border-style: dotted;
    border-top: hidden;
    border-width: 10px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 21px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .copyright-text {
    color: #EAF6F6;
    margin-bottom: 0px;
  }

  .email-text {
    width: 50%;
    margin: 50px auto;
    text-align: center;
    line-height: 2;
  }

  .footer-link {
    position: relative;
    margin-top: 20px;
  }